article.restaurant{
    font-size: 1rem;
    font-weight: bold;
    background-color: #fff;
    border-radius: 15px;
    display: grid;
    grid-template-areas: 
        "photo nouveau"
        "titre coeur"
        "adresse coeur";
    grid-template-columns: auto 100px;
    grid-template-rows: 170px 35px 30px;
    align-items: center;
    height: 250px;
    box-shadow: 1px 5px 12px 0px rgba(0,0,0,.10);
    max-width: 350px;
    min-width: 275px;
    margin: auto;
    width: 90%;

    @include tablet {
        max-width: 330px;
    }
    

    img {
        width: 100%;
        // max-width: 400px;
        height: 170px;
        object-fit: cover;
        object-position: 50% 60%;
        border-radius: 15px 15px 0 0;
        grid-column-start: photo;
        grid-column-end: nouveau;
        grid-row: 1 / 2;
    }

    h2 {
        font-size: 1.2rem;
        margin: 0;
        grid-area: titre;
        align-self: flex-end;
    }

    address {
        grid-area: adresse;
        font-style: normal;
        font-weight: 300;
        font-size: 1.05rem;
    }

    i.heart {
        grid-area: coeur;
        justify-self: center;
    }

    &.nouveau::after {
        content: "Nouveau";
        font-size: .9rem;
        color: darken($color-tertiary, 50%);
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: start;
        justify-self: end;
        margin: 12px;
        height: 30px;
        width: 80px;
        background-color: $color-tertiary;
        border-radius: 3px;
        grid-area: nouveau;
    }
}