
article.dish {
    display:flex;
    background-color: #fff;
    height: 70px;
    border-radius: 15px;
    box-shadow: 1px 5px 12px 0px rgba(0,0,0,.10);
    margin-bottom: 15px;
    overflow: hidden;

    opacity: 0;
    animation: landing 2s cubic-bezier(0,.18,.73,.99) forwards;
        
    @for $i from 1 through 9 {
        &:nth-of-type(#{$i}) {
            animation-delay: calc(#{$landingDelay} + .4s)
        }
    } 

    & > * {
        transition: width $checkSpeed;
    }

    main{
        
        display: grid;
        grid-template-areas: 
            "plat plat"
            "accompagnement prix";
        grid-template-columns: auto 70px;
        row-gap: 3px;
        width: 100%;
        p {
            margin: 0;
            &:first-of-type {
                grid-area: plat;
                font-weight: bold;
                font-size: 1.1rem;
                align-self: flex-end;
                
            }
    
            &:nth-of-type(2) {
                grid-area: accompagnement;
                font-size: .9rem;
                font-weight: 300;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-right: 5px;
            }
    
            &:nth-of-type(3) {
                grid-area: prix;
                justify-self: center;
                font-weight: 700;
                color: $color-bgDark;
            }
    
        }
    }

    aside {
        width : 0;
        background-color: $color-tertiary;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            display: flex;
            color: white;
            font-size: 1.3rem;
            align-items: center;
            justify-content: center;
        }
    }

    &:hover {
        main{
            width: calc(100% - #{$checkWidth});
        }
        aside {
            width: $checkWidth;
            i{
                &::before {
                    animation: rotate $checkSpeed ease-in-out forwards;
                }
            }

        }

    }  
}

@keyframes landing {
    from {
        margin-top: 20px;
        opacity: 0;
    }
    to{
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes checking {
    from {
        transform: translateX(60px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes rotate {
    from {
        transform: rotate(-180deg);
    }
    to {
        transform: rotate(0deg);
    }
}