.index {
    main {
        p {
            font-size: 1.2rem;
            font-weight: 300;
            margin: 0;
        }    
    }
    
    section {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        margin: auto;
        padding: 3rem 1.5rem;
    
        &.bg-grey {
            background-color: $color-bgLight;
        }
    
        &.fonctionnement {
            row-gap: 20px;
        }
        
        h1 {
            margin: 0;
        }
        
        ul {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            list-style-position: inside;
        }
        
        li {
            background-color: $color-bgLight;
            box-shadow: 1px 5px 12px 0px rgba(0,0,0,.15);
            border-radius: 20px;
            height: 70px;
            display: flex;
            align-items: center;
            font-weight: 500;
            margin-bottom: 10px;
            margin-left: 12px;
    
            @for $i from 1 through 3{
                &:nth-of-type(#{$i})::before{
                    content: "#{$i}";
                }
            }
    
            &::before {
                background-color: $color-primary;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 1.5rem;
                height: 1.5rem;
                color: #fff;
                font-weight: 400;
                font-size: .8rem;
                // z-index: 1;
                margin-left: -12px;
            }

            &:last-of-type {
                background-color: lighten($color-primary, 35%);

                i {
                    color: $color-primary;
                }
            }
    
            i {
                color: grey;
                font-size: 1.2rem;
                margin: auto 25px auto 25px;
            }  
        }
    }
       
    

}

i.circle {
    display: flex;
    font-weight: normal;
    font-size: 5rem;   
    align-items: center;
    justify-content: center;
    background: conic-gradient($color-primary, $color-secondary, $color-tertiary, $color-primary);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: spinning 1.5s cubic-bezier(.52,.39,.59,.8) 2;
    
}

@keyframes spinning {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(1turn);
    }
}

aside.loader {
    position: fixed;
    width: $mx-width;
    height: 100%;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, .70);
    // z-index: 1;
    animation: loader 3s both;
}

@keyframes loader {
    0% {
        height: 100%;
    }
    99% {
        height: 100%;
    }
    100% {
        height: 0%;
    }

}