<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include('../partials/head/head.html', {"titre" : "accueil" }); %>
</head>
<body>
  <header>
    <nav>
      <img src="/logo/ohmyfood.svg" alt="Logo" />
    </nav>
    <p>Paris, Belleville</p>
  </header>

  <main>
    <section class="align-center bg-grey">
      <h1>Réservez le menu qui vous convient</h1>
      <p>Découvrez des restaurants d'exception, sélectionnés par nos soins.</p>
      <%- include('../partials/button/button.html', {"texte" : "Explorer nos restaurants" }); %>
    </section>

    <section>
      <h1>Fonctionnement</h1>
      <ol>
        <li>Choisissez un restaurant</li>
        <li>Composez votre menu</li>
        <li>Dégustez au restaurant</li>
      </ol>
    </section>

    <section class="bg-grey">
      <h1>Restaurants</h1>
      <%- include('../partials/restaurant/restaurant.html', {
        "url_image" : "laPaletteDuGout.jpg",
        "alt_image" : "Restaurant La palette du goût",
        "nom" : "La palette du goût",
        "url" : "la-palette-du-gout.html",
        "lieu" : "Ménilmontant",
      }); %>
      <%- include('../partials/restaurant/restaurant.html', {
        "url_image" : "laNoteEnchantee.jpg",
        "alt_image" : "Restaurant La note enchantée",
        "nom" : "La note enchantée",
        "url" : "la-note-enchantee.html",
        "lieu" : "Charonne",
      }); %>
      <%- include('../partials/restaurant/restaurant.html', {
        "url_image" : "chicALaFrancaise.jpg",
        "alt_image" : "Restaurant Chic à la Française",
        "nom" : "À la Francaise",
        "url" : "chic-a-la-francaise.html",
        "lieu" : "Cité Rouge",
      }); %>
      <%- include('../partials/restaurant/restaurant.html', {
        "url_image" : "leDeliceDesSens.jpg",
        "alt_image" : "Restaurant Le délice des sens",
        "nom" : "Le délice des sens",
        "url" : "le-delice-des-sens.html",
        "lieu" : "Folie-Méricourt",
      }); %>
      
    </section>
  

  </main>
  <%- include('../partials/footer/footer.html'); %>
</body>
</html>