<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include('../partials/head/head.html', {"titre" : "accueil" }); %>
</head>
<body>
  <header>
    <nav>
      <img src="/logo/ohmyfood.svg" alt="Logo" />
    </nav>
    <p>Paris, Belleville</p>
  </header>

  <main>
    <section class="align-center bg-grey">
      <h1>Réservez le menu qui vous convient</h1>
      <p>Découvrez des restaurants d'exception, sélectionnés par nos soins.</p>
      <%- include('../partials/button/button.html', {"texte" : "Explorer nos restaurants" }); %>
    </section>

    <section>
      <h1>Fonctionnement</h1>
      <ol>
        <li>Choisissez un restaurant</li>
        <li>Composez votre menu</li>
        <li>Dégustez au restaurant</li>
      </ol>
    </section>

    <section class="bg-grey">
      <%- include('../partials/restaurant/restaurant.html', {
        "nom" : "Chic à la Francaise",
        "url" : "chic-a-la-francaise.html"
      }); %>
      <%- include('../partials/restaurant/restaurant.html', {
        "nom" : "La palette du gout",
        "url" : "la-palette-du-gout.html"
      }); %>
      
    </section>
  

  </main>
  <%- include('../partials/footer/footer.html'); %>
</body>
</html>