<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('../partials/head/head.html', {"titre" : "la palette du gout"}); %>
</head>

<body class="menu">
  <%- include('../partials/header/header.html', {"back" : true }); %>
  
  <img class="hero" src="restaurants/la-palette-du-gout.jpg" alt="La Palette du Goût"/>
  
  <section class="carte">

  <h1>La palette du goût<i class="fas fa-heart heart"></i></h1>
  

  <h2>Entrées</h2>
    
    <%- include('../partials/dish/dish.html', 
    {"plat" : "Fricassée d'escargot", 
    "accompagnement" : "Au piment d'espelette",
    "prix" : "25"}); %>
    <%- include('../partials/dish/dish.html', 
    {"plat" : "Foie gras de canard mi-cuit", 
    "accompagnement" : "Et ses copeaux de truffe noire",
    "prix" : "35"}); %>
    <%- include('../partials/dish/dish.html', 
    {"plat" : "Oeuf au plat", 
    "accompagnement" : "Assaisonné à la truffe sur lit de caviar",
    "prix" : "20"}); %>
      
  <h2>Plats</h2>

    <%- include('../partials/dish/dish.html', 
    {"plat" : "Filet de boeuf aux herbes", 
    "accompagnement" : "Accompagné de sa ribambelle de légumes",
    "prix" : "40"}); %>
    <%- include('../partials/dish/dish.html', 
    {"plat" : "Parmentier de queue de boeuf", 
    "accompagnement" : "À la truffe noire sur sa purée de panais",
    "prix" : "35"}); %>
    <%- include('../partials/dish/dish.html', 
    {"plat" : "Filet de turbot", 
    "accompagnement" : "Aux agrumes",
    "prix" : "44"}); %>

  <h2>Desserts</h2>

    <%- include('../partials/dish/dish.html', 
    {"plat" : "Paris-Brest", 
    "accompagnement" : "Revisité",
    "prix" : "18"}); %>
    <%- include('../partials/dish/dish.html', 
    {"plat" : "Macaron au chocolat d'exception", 
    "accompagnement" : "Et glace à la vanille de Madagascar",
    "prix" : "22"}); %>
    <%- include('../partials/dish/dish.html', 
    {"plat" : "Mousse au chocolat ", 
    "accompagnement" : "Au piment d'Espelette et à la truffe noire",
    "prix" : "23"}); %>

    
  
  <%- include ('../partials/button/button.html', {"texte" : "Commander" }); %>
  
  </section>

  <%- include('../partials/footer/footer.html'); %>
</body>

</html>