$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bgLight: #f6f6f6;//Gris clair pour les sections
$color-bgMedium: #eaeaea; //Gris foncé localisation
$color-bgDark: #353535;//Gris du footer

a {
    &:link {
        text-decoration: none;
        color: black;   
    }

    &:visited {
        color: black;
    }
}


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    max-width: 425px; //Travail sur la version mobile. A supprimer quand je travaillerai sur le responsive
}

.alignCenter { 
    text-align: center;
}

.leftPad {
    padding-left: 15px;
}

ul {   
    list-style-type: none;
    padding-inline-start: 0;
}

i.heart {
    display: flex;
    width: 50px;
    height: 50px;
    font-weight: normal;
    font-size: 1.8rem;   
    align-items: center;
    justify-content: center;

    &:hover {
        font-weight: bold;
        background: -webkit-linear-gradient($color-primary, $color-secondary 50%, white 60%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-position-y: 1.8rem;
        animation: gradient 1s ease forwards;
    }
}


@keyframes gradient {
    from {
        background-position-y: 1.8rem;
    }
    to{
        background-position-y: 0.7rem;
    }
    
}

