$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bgLight: #f6f6f6;//Gris clair pour les sections
$color-bgMedium: #eaeaea; //Gris foncé localisation
$color-bgDark: #353535;//Gris du footer
// $vertical: 0; //axe vertical pour le boxshadow
// $opacity-base: .2; //opacité pour le boxshadow (foncer pour le hover)


// @mixin box-shadow($shadow-x: $shadow-x-base, $opacity: $opacity-base) {
//     box-shadow: $vertical 5px 8px 0px rgba(0,0,0,$opacity);
// }

a {
    &:link {
        text-decoration: none;
        color: black;   
    }

    &:visited {
        color: black;
    }
}


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.alignCenter { 
    text-align: center;
}

.leftPad {
    padding-left: 15px;
}

// .heart {
//     display: inline-block;
//     height: 30px;
//     margin: 0 10px;
//     position: relative;
//     top: 0;
//     transform: rotate(-45deg);
//     width: 30px;

//     &::before {
//         top: -15px;
//         left: 0;

//         content: "";
//         border-radius: 50%;
//         height: 30px;
//         position: absolute;
//         width: 30px;
//     }

//     &::after {
//         left: 15px;
//         top: 0;

//         content: "";
//         border-radius: 50%;
//         height: 30px;
//         position: absolute;
//         width: 30px;
//     }
// }

ul {   
    list-style-type: none;
    padding-inline-start: 0;
}