$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiaty: #99E2D0;
$color-bgLight: #f6f6f6;//Gris clair pour les sections
$color-bgMedium: #eaeaea; //Gris foncé localisation
$color-bgDark: #353535;//Gris du footer
$opacity: .2; //opacité pour le boxshadow (foncer pour le hover)

@mixin box-shadow($opacity) {
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,$opacity);
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {      
    nav {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 75px;
        grid-template-areas: 
            ". logo .";
        justify-items: center;
        align-items: center;
        @include box-shadow($opacity);
        img {
            grid-area: logo;
        }
    }
    p {
        display: flex;
        margin: 0;
        width: 100vw;
        height: 50px;
        align-items: center;
        justify-content: center;
        background-color: $color-bgMedium;
        font-weight: 500;
        &::before {
            font-family: 'Font Awesome 5 Free';
            content: "\f3c5";
            width: 1.5rem;
            font-weight: bold;
        }
    }
}


main {
    section {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        margin: auto;
        padding: 3rem 1.5rem;   
        &.bg-grey {
            background-color: $color-bgLight;
        }
    }
    p {
        font-size: 1.2rem;
        font-weight: 300;
        margin: 0;
    }
    h1 {
        margin: 0;
    }
    ol {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        li {
            background-color: $color-bgLight;
            height: 50px;
            &::before {
                font-family: 'Font Awesome 5 Free';
                font-weight: bold;
                color: grey;
            }
            &:first-of-type::before {
                content : "\f3cd";
            }
            &:nth-of-type(2)::before {
                content : "\f03a";
            }
            &:nth-of-type(3)::before {
                content : "\f54e";
            }    
        }
    }
    
    
}

.align-center { 
    text-align: center;
}